.body-component-about {
	background: no-repeat;
	background-image: url(birdseye.jpg);
	background-size: auto;
}
.about {
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	height: 450px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: linear-gradient(#7bc087, #7bc087a9);
}
h1 {
	font-family: 'Acme', sans-serif;
	font-size: 40px;
	position: relative;
	bottom: 40px;
}
p {
	font-size: 20px;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
	.about {
		font-family: lato;
		color: #ffffff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 400px;
		height: 520px;
		padding: 80px 40px;
		box-sizing: border-box;
		background: linear-gradient(#7bc087, #7bc087a9);
	}
}
