.marker-window {
  background-color: red !important;
  color: red;
}

.marker-info {
  width: 150px;
  height: 150px;
  color:  #3b4141;
  margin: 10px;
}

.marker-info p {
  text-align: left;
}

.marker-info img {
  height: 25%;
  margin-top: 7px;
  width: 25%;
}

.marker-header {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 5px;
}

.marker-desc {
  font-size: 16px;
}

.marker-time, .marker-date {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  margin: 5px 5px 7px 0px;
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}