* {
	margin: 0px;
	padding: 0px;
}

.navbar {
	background-color: #2e3434;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding-right: 16px;
	color: white;
	padding-left: 16px;
	font-family: 'Work Sans', sans-serif;
}

.home a {
	font-size: 16px;
	font-weight: 500;
	color: white;
	text-decoration: none;
}
.home .logo {
	font-size: 30px;
	font-family: 'Acme', sans-serif;
}

.dropdown-menu {
	position: absolute;
	top: 2.5rem;
	right: 21px;
	display: flex;
	flex-direction: column;
	z-index: 2;
	background-color: #7bc087;
	width: 170px;
}

.navbar a:first-of-type {
	padding-top: 15px;
}

.navbar a {
	font-size: 16px;
	font-weight: 400;
	color: white;
	text-decoration: none;
	padding: .5rem 0 .5rem 0;
}

.navbar-link {
	padding: .5rem 0 .5rem 0;
	font-size: 16px;
	font-weight: 400;
	color: white;
	text-decoration: none;
	background-color: #3b4141;
	border: none;
}

.nav-arrow {
	text-align: right;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.navbar .report-button-large {
	background-color: #7bc087;
	height: 30px;
	width: 100px;
	border: none;
	margin: 5px;
	color: white;
}

.small-profile-nav {
	display: none;
}

.navbar-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.signin {
	background-color: #7bc087;
	height: 30px;
	width: 80px;
	border: none;
	margin: 5px;
	color: white;
}
.signup {
	background-color: #7bc087;
	height: 30px;
	width: 80px;
	border: none;
	margin: 5px;
	color: white;
}
/* ============================
MEDIA QUERIES
============================*/

/* Desktop */

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.navbar .mobile-only-navbar {
		display: none;
	}

	.small-profile-nav {
		display: block;
		margin: 0px 5px 0px 5px;
		width: 20px;
		border-radius: 100px;
	}

	.dropdown-menu {
		width: 190px;
	}

	.navbar .report-button-large {
		width: 175px;
	}
	.signin {
		background-color: #7bc087;
		height: 25px;
		width: 80px;
		border: none;
		margin: 5px;
		color: white;
	}
	.signup {
		background-color: #7bc087;
		height: 25px;
		width: 80px;
		border: none;
		margin: 5px;
		color: white;
	}
}
@media only screen and (min-device-width: 200px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 1) {
	.signin {
		background-color: #7bc087;
		height: 25px;
		width: 65px;
		border: none;
		margin: 5px;
		color: white;
	}
	.signup {
		background-color: #7bc087;
		height: 25px;
		width: 65px;
		border: none;
		margin: 5px;
		color: white;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 1) {
	.signin {
		background-color: #7bc087;
		height: 25px;
		width: 75px;
		border: none;
		margin: 5px;
		color: white;
	}
	.signup {
		background-color: #7bc087;
		height: 25px;
		width: 75px;
		border: none;
		margin: 5px;
		color: white;
	}
}
