.report {
  background-color: #3b4141;
  width: 100vw;
  display: none;
}

.mobile-only {
  display: inherit
}

#type {
  padding: 20px;
  margin: 20px;
  width: 80%;
  background-color: #2e3434;
  height: 30px;
  color: #ffffff;
  border: none;
}

.report label {
  position: relative;
  top: 10px;
  color: #ffffff;
}

#date {
  padding: 20px;
  margin: 20px;
  width: 80%;
  background-color: #2e3434;
  height: 30px;
  color: #ffffff;
  border: none;
}

#time {
  padding: 20px;
  margin: 20px;
  width: 80%;
  background-color: #2e3434;
  height: 30px;
  color: #ffffff;
  border: none;
}

#description {
  padding: 20px;
  margin: 20px;
  width: 80%;
  background-color: #2e3434;
  height: 30px;
  color: #ffffff;
  border: none;
}

.report-button {
  background-color: #7bc087;
  height: 30px;
  width: 80px;
  border: none;
  margin: 5px;
  color: white;
}

/* tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .report {
    display: block
  }
}

/* desktop */

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .report {
    width: 300px;
    display: inherit;
  }
}

.report-button-large {
  background-color: #7bc087;
  height: 30px;
  width: 150px;
  border: none;
  margin: 5px;
  color: white;
}