
.rootpage {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  background-color: white;
}

.header {
  background-color: #7bc087;
  color: white;
  flex: 1;
  font-size: 28px;
  font-weight: bold;
  padding: 25px;
}

.rootpage main {
  flex: 1;
}

.start-link {
  align-self: center;
  background-color: #7bc087;
  font-weight: bold;
  font-size: 26px;
  flex: 1;
  padding: 25px;
  /* margin-bottom: 25px; */
  margin-top: 10px;
}

.start-link a {
  text-decoration: none;
  color: white;
}

.feature-container {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  margin-top: 25px;
}

.feature {
  border-bottom: 1px solid #7bc087;
  flex: 1;
  margin-bottom: 25px;
  line-height: 1.6
}

.feature h2 {
  font-size: 22px;
  padding-bottom: 10px;
  color: rgb(27, 27, 27)
}

.feature p {
  padding-bottom: 10px;
  color: #3b4141;
}

.feature img {
  height: auto;
  margin-bottom: 10px;
  max-width: 35%;
}

.footer {
  background-color: #3b4141;
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 25px;
  width: 100%;
}

.footer h3 {
  border-bottom: 1px solid white;
  font-weight: bold;
  flex: 1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer a:hover {
  color: #7bc087;
  font-weight: bold;
}

.footer-credits {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.footer-credits li {
  flex: 1;
  padding: 7px 0px;
}

.footer-credits>li>a {
  color: white;
  text-decoration: none;
}

.github-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.github-link {
  flex: 1;
  color: white;
  text-decoration: none;
  padding: 7px 0px;
}

/* ============================
MEDIA QUERIES
============================*/

@media only screen and (min-width: 768px) {
  /* For tablet/desktop: */

  .rootpage {
    flex-direction: column;
    height: 100vh;
  }

  .header {
    font-size: 50px;
  }

  .start-link {
    display: none;
  }

  .feature-container {
    flex-direction: row;
  }

  .feature {
    border: none;
  }

  .footer h3 {
    flex: 0;
  }

   .footer-credits li {
    flex: 0;
  }

  .github-link {
    flex: 0;
  }

}