
.rootpage {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.header {
  flex: 1;
  font-size: 28px;
  padding: 25px;
}

.start-link {
  flex: 1;
  padding: 25px;
}

.footer {
  background-color: #3b4141;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 25px 0px;
  width: 100%;
}

.footer h3 {
  border-bottom: 1px solid white;
  font-weight: bold;
  flex: 1;
}

.footer a:hover {
  color: #7bc087;
  font-weight: bold;
}

.feature-container {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  margin-top: 25px;
}

.feature {
  border-bottom: 1px solid #7bc087;
  flex: 1;
  margin-bottom: 25px;
  line-height: 1.6
}

.feature h2 {
  font-size: 22px;
  padding-bottom: 10px;
  color: rgb(27, 27, 27)
}

.feature p {
  padding-bottom: 10px;
  color: #3b4141;
}

.feature img {
  height: auto;
  margin-bottom: 10px;
  max-width: 35%;
}

.footer-credits {
  flex: 1;
}

.footer-credits li {
  flex: 1;
  padding: 7px 0px;
}

.footer-credits>li>a {
  color: white;
  text-decoration: none;
}

.github-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.github-link {
  flex: 1;
  color: white;
  text-decoration: none;
  padding: 7px 0px;
}

/* ============================
MEDIA QUERIES
============================*/

@media only screen and (min-width: 768px) {
  /* For tablet/desktop: */

  .footer {
    justify-content: left;
  }
  .footer-credits {
    margin: 0 100px 0px 30px;
    ;
  }

}