#COLORS {
	color: #2e3434;
	color: #3b4141;
	color: #7bc087;
	color: #9e9fa1;
	color: #a0472f;
}
.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen and (min-device-width: 0px) and (max-device-width: 650px) and (-webkit-min-device-pixel-ratio: 1) {
	.container-under {
		height: 100%;
	}
}
